*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
background: hsla(277, 81%, 51%, 1);
background: linear-gradient(90deg, hsla(277, 81%, 51%, 1) 0%, hsla(197, 61%, 83%, 1) 100%);
}
.app{
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 5px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: rgb(122, 53, 226);
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color : #222;
    font-weight: 600;
}
.btn{
    background: white;
    color:#333;
    font-weight: 400;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: white ;
}
.btn:disabled{
   cursor: no-drop; 
}
#next-btn{
    color: #fff;
    background: #f20f07;
    font-weight: 400;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}
.correct{
    background: #8df384;
}
.incorrect{
    background: #e75c57;
}